@tailwind base;
@tailwind components;
@tailwind utilities;
  
  body{
    background-color: #161B26;
  }
  .gradient-text {
    background: linear-gradient(180deg, #72EDF2, #5151E5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }